/* Image Styles */
.myImage {
  width: 100%;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

/* For tablet devices */
@media (max-width: 768px) {
  .myImage {
    max-width: 80px;
    max-height: 80px;
  }
}

/* For small mobile devices */
@media (max-width: 576px) {
  .myImage {
    max-width: 60px;
    max-height: 60px;
  }
}

/* Grid Item Styles */
.grid-item {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

/* Adjust margin and font size for mobile */
@media (max-width: 767.98px) {
  .grid-item {
    margin-bottom: 20px; /* More space on mobile */
    font-size: 20px;
  }
}

/* Game Layout Container */
@media (max-width: 992px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Further adjustments for smaller screens */
@media (max-width: 768px) {
  h1 {
    font-size: 28px; /* Smaller font size */
  }

  .grid-item {
    font-size: 18px; /* Reduce font size further */
  }
}

/* For very small mobile screens */
@media (max-width: 576px) {
  h1 {
    font-size: 24px; /* Even smaller font */
  }

  .grid-item {
    font-size: 16px; /* Further adjust font size */
  }
}

/* Background and Text Color */
body {
  background-color: #f8f8ff; /* Ghost White */
  color: #333; /* Dark text color */
}
