<%-include("./partials/header.ejs")%>
<main>
  <div class="container text-center my-5">
    <div class="row">
      <div id="top-left" class="col-12 col-md-4 grid-item"></div>
      <!--top-left-->
      <div id="top-center" class="col-12 col-md-4 grid-item"></div>
      <!--top-center-->
      <div id="top-right" class="col-12 col-md-4 grid-item"></div>
      <!--top-right-->
    </div>
    <div class="row">
      <div id="middle-left" class="col-12 col-md-4 grid-item"></div>
      <!--middle-left-->
      <div id="middle-center" class="col-12 col-md-4 grid-item"></div>
      <!--middle-center-->
      <div id="middle-right" class="col-12 col-md-4 grid-item"></div>
      <!--middle-right-->
    </div>
    <div class="row">
      <div id="bottom-left" class="col-12 col-md-4 grid-item"></div>
      <!--bottom-left-->
      <div id="bottom-center" class="col-12 col-md-4 grid-item"></div>
      <!--bottom-center-->
      <div id="bottom-right" class="col-12 col-md-4 grid-item"></div>
      <!--bottom-right-->
    </div>
  </div>
</main>
<%-include("./partials/footer.ejs")%>
